[Unit]
Description=Fan Control Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/sbin/fan_control.py
Restart=always

[Install]
WantedBy=multi-user.target
